<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="skrablo, esperanto, scrabble, ludo" />
    <meta name="description" content="Ludu skrablon en la interreto kontraux aliaj esperantistoj." />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Skrablo: {{ page.title }}</title>
  </head>
  <body>
    <div id="grafikajx">
      <a href="/"><img src="/assets/images/skrablofin.gif" alt="Skrablo" /></a>
    </div>
    <div id="menuej">
      <ul id="menu">
        <li><a href="/">Hejmo</a></li>
        <li><a href="/regularo.html">Regularo</a></li>
        <li><a href="/demandoj.html">Oftaj demandoj</a></li>
        <li><a href="/plejaltaj.html">Plej altaj</a></li>
        <li><a href="/statistiko.html">Statistikoj</a></li>
        <li><a href="/dankoj.html">Dankoj</a></li>
        <li><a href="/gastlibro.html">Gastlibro</a></li>
      </ul>
    </div>
    <div id="enhav">
      {{ content }}
    </div>
  </body>
</html>
